.unauthenticated {
  padding: 24px;

  display: grid;
  place-items: center;

  form {
    display: flex;
    flex-flow: column;
    gap: 22px;

    margin-bottom: 180px;

    width: 100%;

    button {
      justify-content: center;
    }
  }
}
